a{text-decoration: none;}
img{width: 100%;height: 100%}
.box{width: 100%}
.box>img{width: 100%;height: 100%;display: block;}
.col-49{    -webkit-box-flex: 0;
    -webkit-flex: 0 0 49%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49;
    max-width: 49%;}
.col-offset-2{margin-left: 2%}
.clearfix:after{content:"200B";height: 0;font-size: 0;display: block;clear: both;}

/*tour*/
#slider-icon .slider{height:100%}
#slider-icon .enter-btn{position: absolute;top: 500px;left:50%;transform: translate(-50%,0);color:#fff;border-color: #fff}
#slider-icon img{width: auto;height: 100%;}

/*首页*/
#tabs .tabs a{border:none; margin-top: 0}
#signPic{text-align: center}
#signPic div{height: 40px;}
#signPic img{width: 40px;height: 40px;}
#signPic p{color: #666;height: 35px;line-height: 35px;margin: 0}
#home .item{padding: 0;}
#home #title{background-color: transparent}
.indexCol{height: 75px;}
.indexCol img{width: 40px;height: 40px;}
.indexCol p{height: 35px;line-height: 35px;}
.footerSign{width: 14px;}

/*购物车*/
.cartList{position: relative}
.cartList p{position: absolute;bottom: .13rem}
.cartList .buyNum{position: absolute;bottom: .13rem;right: 0;}
.cartList .buyNum input{height: 25px;line-height: 25px;width: 32px;float: left;text-align: center;display: block}
.cartList .buyNum button{width: 25px;height: 25px;border: 1px solid #ddd;font-size: 20px;text-align: center;line-height: 18px;float: left;background: #fff}
.totPay{float: left;height:47px;line-height: 47px;font-size: 20px;}
.clearIt{float: right;font-size: 15px;line-height: 20px}
#clearIt{background: #ff0000}
.buyIt{float: right;font-size: 15px;line-height: 20px;margin:0 5px;}
.well{text-align: center;padding: 10px;}


/*menulist*/
#listtitle .search{position: relative;width: 100%}
#listtitle .search input{height: 30px;width:100%;box-sizing: border-box;border: 1px solid #e1e1e1;border-radius: 10px;font-size: 15px;line-height: 29px;color: #bbb;padding-left: 10px;}
#listtitle .search a{position: absolute;height: 44px;width: 35px;text-align: center;right: 0;top:0;}
#listtitle .search a i{font-size: 28px;color: #ddd;}
#menulist{flex-wrap: wrap;background: #f2f2f2;}
#menulist .aside{position: fixed;z-index: 10;top:0;left: 0;height: 100%;box-sizing: border-box;width: 90px;background: #fff}
#menulist .aside .asidebg{position: fixed;z-index: 10;top:0;left: 0;height: 100%;box-sizing: border-box;width: 90px;background: #fff}
#menulist .aside li a{display: block;width: 100%;text-align: center;padding: 15px 0;color: #333;border-bottom: 1px solid #ddd;font-size: 14px;border-left: 2px solid #fff;line-height: 20px;background: #fff}
#menulist .aside li.active a{background: #f2f2f2;color: #abd13e;border-left-color: #abd13e}
#menulist .classify{margin: 0 10px 0 100px;padding-top: 10px;overflow: auto;height: 100%;float: left}
#menulist .classify li{float: left;width: 49%;background: #fff;margin-bottom: 5px;}
#menulist .classify li.rightlist{margin-left: 2%;}
#menulist .classify h4{font-size: .17rem;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
#menulist .classify p{font-size: .2rem;color: #ff9600;}

/*detailList*/
#detailList{text-align: center;color: #666}
#detailList a{color: #666}
#detailList a.ac{color: #abd13e}
.detail{width: 320px;margin: 0 auto}
.detail img{display: block;}
h2.proName{font-size: 16px;color: #333;line-height: 1.5}
h2.proPrice{color: #ff9600;font-size: 24px;line-height: 20px;}
.callout{background: #fafafa;}
.callout a{padding: 5px 10px;color: #666;display: block;}
.callout a p{float: left;width: 33.33%;line-height: 25px;font-size: 13px;padding-left: 20px;background: url("../images/goods_new_d10cc716.png") no-repeat 0 -27px;background-size: 17px;}
#buyBtn{background: #ff3b30;color:#fff;display: inline-block;}
#buyBtn2{background: #4b8bf4;color:#fff;display: inline-block;}

#sendInput{width: 100%;border: 1px solid #ddd}
.sendBtn{height: 100%}
.userName{float: left;}
.sendTime{float: right;color: #999;font-size: 12px;}
#sendText{margin-top: 10px;white-space: normal}

/*user*/
#interface{background: #f2f2f2;}
.usermsg{background: #abd13e url("../images/success_bg_694c65ea.png") no-repeat top center;text-align: center}
.usermsg img{margin-top: 40px;border-radius: 50%;width: 80px;height: 80px;}
.userNa{padding: 10px 0;font-size: 20px;}
#interface .wrap{background: #fff;margin-bottom: 10px;position: relative;}
#interface .wrap h3.title{color: #333;padding: 0 10px;height: 44px;line-height: 44px;display: block;font-weight: normal;font-size: 15px;margin: 0;}
#interface .order::before{content: '';display: block;position: absolute;left: -10%;top:-10px;width: 120%;height: 20px;background: #fff;border-radius: 50% 50% 0 0;}
.title a{float: right;color: #999;padding: 0 10px;font-size: 12px;}
.tool{text-align: center;border-top: 1px solid #f2f2f2;height: 71px;padding: 0;}
.tool a{padding: 7px 0;display: block;color: #666;}
.tool a img{width: 37px;height: 37px;}
.tool a span{height: 37px;display: inline-block;font-size: 14px;line-height: 37px;}
.tool a p.waite{height: 20px;line-height: 20px;font-size: 12px;padding: 0;margin: 0;}