<ion-view hide-nav-bar="true" id="home">
    <ion-header-bar id="title">
        <p class="title">
            本来生活
        </p>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box does-continue="true" auto-play="true" slide-interval="3000">
            <ion-slide>
                <div class="box"><img src="images/bannerpic01.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/bannerpic02.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/bannerpic03.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/bannerpic04.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/bannerpic05.jpg"/></div>
            </ion-slide>
        </ion-slide-box>
        <div class="row" id="signPic">
            <a href="javascript:;" class="col indexCol" ui-sref="tabs.menuList">
                <div><img src="images/sign01.png"></div>
                <p>本来尖货</p>
            </a>
            <a href="javascript:;" class="col indexCol">
                <div><img src="images/sign02.png"></div>
                <p>充值</p>
            </a>
            <a href="javascript:;" class="col indexCol">
                <div><img src="images/sign03.png"></div>
                <p>退换货</p>
            </a>
            <a href="javascript:;" class="col indexCol" ui-sref="tabs.cart">
                <div><img src="images/sign04.png"></div>
                <p>我的订单</p>
            </a>
        </div>
        <div class="list">
            <a class="item" ui-sref="tabs.menuList"><img src="images/indexbig01.jpg"/> </a>
            <a class="item" ui-sref="tabs.menuList"><img src="images/indexbig02.jpg"/> </a>
            <a class="item" ui-sref="tabs.menuList"><img src="images/indexbig03.jpg"/> </a>
            <a class="item" ui-sref="tabs.menuList"><img src="images/indexbig04.jpg"/> </a>
            <a class="item" ui-sref="tabs.menuList"><img src="images/indexbig05.jpg"/> </a>
            <div class="item row">
                <div class="col col-60">
                    <a class="row">
                        <img src="images/indexsmRE01.jpg"/>
                    </a>
                    <a class="row">
                        <img src="images/indexsmRE02.jpg"/>
                    </a>
                </div>
                <a class="col col-40"><img src="images/indexsmLI01.jpg"/></a>
            </div>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig06.jpg"/> </a>
            <div class="item row">
                <div class="col col-60">
                    <a class="row">
                        <img src="images/indexsmRE03.jpg"/>
                    </a>
                    <a class="row">
                        <img src="images/indexsmRE04.jpg"/>
                    </a>
                </div>
                <a class="col col-40"><img src="images/indexsmLI02.jpg"/></a>
            </div>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig07.jpg"/> </a>
            <div class="item row">
                <div class="col col-60">
                    <a class="row">
                        <img src="images/indexsmRE05.jpg"/>
                    </a>
                    <a class="row">
                        <img src="images/indexsmRE06.jpg"/>
                    </a>
                </div>
                <a class="col col-40"><img src="images/indexsmLI03.jpg"/></a>
            </div>

            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig08.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig09.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig10.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig11.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig12.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig13.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig14.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig15.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig16.jpg"/> </a>
            <a class="item"  href="#tabs/detail?name=香蕉（5支装)"><img src="images/indexbig17.jpg"/> </a>
        </div>

    </ion-content>

</ion-view>


