<ion-view hide-nav-bar="true">
    <ion-header-bar id="title">
        <p class="title">
            精选好货
        </p>
    </ion-header-bar>
    <ion-content>
        <div class="aside">
            <ul>
                <li><a href="javascript:;">镇店之宝</a> </li>
                <li><a href="javascript:;">镇店之宝</a> </li>
                <li><a href="javascript:;">镇店之宝</a> </li>
                <li><a href="javascript:;">镇店之宝</a> </li>
                <li><a href="javascript:;">镇店之宝</a> </li>
                <li><a href="javascript:;">镇店之宝</a> </li>
            </ul>
        </div>
        <div class="classify">
            <ul>
                <li></li>
            </ul>
        </div>
    </ion-content>
</ion-view>