<ion-view hide-nav-bar="true">
    <ion-header-bar>
        <div class="row" id="detailList">
            <a class="col col-20 backBtn" href="javascript:;" ng-click="back()"><i class="ion-chevron-left iback-details"></i> </a>
            <a class="col col-20" href="#/tabs/detail?name={{name}}">商品</a>
            <a class="col col-20" ui-sref="tabs.detailText">详情</a>
            <a class="col col-20" href="#/tabs/detailCom?name={{name}}">评价</a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="detail">
            <div><img src="images/detailsp_tit02.gif"></div>
            <div>
                <img src="images/03a83d8a-8bb3-43ba-b254-cfb8b8e9e062.jpg">
                <img src="images/8e61d209-3b5a-478f-84e9-0335361b19bc.jpg">
                <img src="images/867ab33c-6408-4295-88c3-4ee1c70f84e8.jpg">
                <img src="images/99acf49b-71a9-4cd2-83ee-9715bd132eb5.jpg">
                <img src="images/cfe26c25-c537-4f99-9b47-7751883c102e.jpg">
                <img src="images/929281a5-bb43-42ac-b2fb-c600d2ad44e4.jpg">
                <img src="images/99f12539-ec35-44ab-8ad6-38ae93e7e45e.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>
