<ion-view hide-nav-bar="true">
    <ion-content id="interface">
        <div class="usermsg clearfix">
            <img src="images/touxiang.jpg" class="title-iocn">
            <p class="userNa">Miricle</p>
        </div>
        <div class="wrap order">
            <h3 class="title">
                我的订单
                <a href="javascript:;">查看全部订单></a>
            </h3>
            <div class="row tool">
                <a class="col col-25">
                    <img src="images/20161212icon_A@2x.png"></img>
                    <p class="waite">待支付</p>
                </a>
                <a class="col col-25">
                    <img src="images/20161212icon_B@2x.png"></img>
                    <p class="waite">待收货</p>
                </a>
                <a class="col col-25">
                    <img src="images/20161212icon_C@2x.png"></img>
                    <p class="waite">待评论</p>
                </a>
                <a class="col col-25">
                    <img src="images/20161212icon_D@2x.png"></img>
                    <p class="waite">退换货</p>
                </a>
            </div>
        </div>
        <div class="wrap">
            <h3 class="title">
                我的钱包
            </h3>
            <div class="row tool">
                <a class="col col-25">
                    <span>￥0.00</span>
                    <p class="waite">余额</p>
                </a>
                <a class="col col-25">
                    <span>0</span>
                    <p class="waite">礼金卡</p>
                </a>
                <a class="col col-25">
                    <span>0</span>
                    <p class="waite">优惠券</p>
                </a>
                <a class="col col-25">
                    <span>0</span>
                    <p class="waite">积分</p>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>